@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0f0f0f;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "dotzero";
  src: url("./DotZero.ttf");
}

.hamburger-screen {
  margin-top: 80px;
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(15, 15, 15, 0.9);

  z-index: 1;
  transform: rotate(90deg);
  opacity: 0;
  scale: 0.6;
  transition: transform .3s linear, scale .3s linear,
    opacity 0.7s linear;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
  display: flex;
  justify-content: center;
  font-size: 35px;
  line-height: 70px;
  color: white;
}

.hamburger-screen>div {
  margin-top: 60px;
}

.ham-screen-expand {
  transform: rotate(0);
  scale: 1;
  opacity: 1;
  /* transform: translatex(0); */
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(15, 15, 15, 0.9);
  height: 80px;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.header-left,
.header-center,
.header-right,
.hamburger-menu-container {
  padding: 0 35px 0 35px;
  width: 33%;
  display: flex;
  color: #f0f0f0;
  font-size: 26px;

  @media (max-width: 600px) {
    width: 50%;
  }

}


.header-left {
  justify-content: start;
}

.header-center {
  justify-content: center;

  @media (max-width: 600px) {
    display: none;
  }
}

.header-center>div,
.header-right>div {
  margin: 0 10px 0 10px;
}


.header-right {
  justify-content: end;

  @media (max-width: 600px) {
    display: none;
  }
}

.hamburger-menu-container {

  display: none;

  @media (max-width: 600px) {
    display: flex;
    justify-content: end;

  }
}





.hamburger-menu {
  scale: 0.6;
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;


}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.hamburger-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-menu span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-menu span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}



.flex {
  display: flex;
}

.home-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.home-conatainer-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-items: center;

}

.home-overlay-center {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.home-overlay-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "dotzero";
  letter-spacing: 3px;
  line-height: 55px;
  font-size: 40px;
  color: #f0f0f0;

  @media (max-width: 500px) {
    line-height: 50px;
    font-size: 32px;

  }
}



.home-img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.our-products-container {
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #f0f0f0;

}


.card-card-prod {
  position: relative;
  width: 190px;
  aspect-ratio: 4/5;

  @media (max-width: 670px) {
    width: 170px;
  }
}

.card-price-section-product {
  font-size: 13.5px;
  color: #fdfaf4;
  background-color: #554348;
}

.prod-img {
  overflow: hidden;
  object-fit: cover;
  image-rendering: optimizeSpeed;
  width: 100%;
  height: 70%;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.card-price-section-product {
  font-size: 13.5px;
  color: #fdfaf4;
  background-color: #554348;
}

.button-item-product {
  transition: background-color 0.15s ease-in-out;
  background-color: #996701;
  color: rgb(253, 249, 242);

  @media (min-width: 600px) {

    &:hover {
      color: rgba(0, 0, 0, 0.7);
      background-color: #ffd369;
    }
  }
}

.products-section {
  background-color: #0f0f0f;
}


#products-grid {
  padding-left: 1.5vmax;
  padding-right: 1.5vmax;
}

@media (min-width: 1020px) {
  #products-grid {
    padding-left: 10vmax;
    padding-right: 10vmax;
  }

}

.footer-name {
  margin-left: 20px;
  font-size: 20px;
  padding: 7px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #ff5e14;
  color: #ff5e14;
  transition: .3s;
}

.footer-name:hover {
  @media (min-width: 600px) {

    scale: 1.2;
    animation: pulse-footer 1s infinite;
  }
}

@keyframes pulse-footer {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.footer-content-about {
  padding-left: 64px;

}



.center-footer-content {
  padding-left: 64px;
  color: #878787;
}

.footer-attr-bg-color {
  height: 100px;
  background-color: #1f1f1f;

}

.footer-container {
  background-color: black;

}

@media (max-width: 900px) {
  .center-footer-content {

    justify-content: center;
    padding-left: 0;

  }

}